.App{
    background-color: rgb(139, 186, 230);
  }
  
.titulo-principal{
  font-size: x-large;
  background-color: rgb(139, 186, 230);
  height: 4vh;
  text-align: center;
}

.has{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 5px;
}
.infor{
  margin: 20px;
}
.buscador{
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

input{
  width: 400px;
  height: 25px;
}
.cambios{
    color: black;
  background-color: rgb(136, 240, 176);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  border-radius: 20px;
  text-decoration: none;
}